img {
  /* height: 80vh; */
  width: 100%;
}

div {
  position: relative;
  width: 100%;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem; */
}

h1 {
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
  color: white;
  font-size: 10rem;
  font-weight: 900;
  line-height: 10rem;
  text-align: center;
  text-shadow: 5px 4px 4px #000000;
}

div {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
  display: flex;
  justify-content: center;
  gap: 10rem;
}

button {
    
  display: block;
  font-size: 2rem;
  padding: 1rem;
  width: min-content;
}
