<mat-card class="form">
  <mat-card-title> Register </mat-card-title>

  <form #form="ngForm" class="register-form">
    <mat-form-field appearance="outline" color="accent">
      <input
        matInput
        placeholder="username@email.com"
        name="email"
        id="email"
        type="email"
        required
        ngModel
      />
      <mat-label for="email">e-mail</mat-label>
      <mat-error>no!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" color="accent">
      <input
        matInput
        placeholder="*******"
        name="password"
        id="password"
        type="password"
        required
        ngModel
      />
      <mat-label for="password">password</mat-label>
    </mat-form-field>

    <mat-form-field appearance="outline" color="accent">
      <input
        matInput
        placeholder="*******"
        name="repeatPassword"
        id="repeatPassword"
        type="password"
        required
        ngModel
      />
      <mat-label for="repeatPassword">repeat password</mat-label>
    </mat-form-field>

    <mat-checkbox name="checkbox" labelPosition="before" (click)="check()">
      Register as artist?
    </mat-checkbox>

    <mat-form-field *ngIf="checked" appearance="outline" color="accent">
      <input
        matInput
        placeholder="Metallica"
        name="alias"
        id="alias"
        type="text"
        required
        ngModel
      />
      <mat-label for="alias">alias</mat-label>
    </mat-form-field>

    <button mat-raised-button color="accent">Details</button>
  </form>
</mat-card>
