<mat-card class="form">
  <mat-card-title> Register </mat-card-title>

  <form
    [formGroup]="registerForm"
    (ngSubmit)="register()"
    class="register-form"
  >
    <mat-form-field appearance="outline" color="accent">
      <input
        matInput
        placeholder="username@email.com"
        name="email"
        id="email"
        type="email"
        required
        formControlName="email"
      />
      <mat-label for="email">e-mail</mat-label>
      <mat-error *ngIf="registerForm.get('email')?.errors?.['email']"
        >invalid e-mail!</mat-error
      >
      <mat-error *ngIf="registerForm.get('email')?.errors?.['required']"
        >e-mail required!</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline" color="accent">
      <input
        matInput
        placeholder="*******"
        name="password"
        id="password"
        type="password"
        required
        formControlName="password"
      />
      <mat-label for="password">password</mat-label>
      <mat-error *ngIf="registerForm.get('password')?.errors?.['required']"
        >password required!</mat-error
      >
      <mat-error *ngIf="registerForm.get('password')?.errors?.['minlength']"
        >password must be at least 8 chars!</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline" color="accent">
      <input
        matInput
        placeholder="*******"
        name="repeatPassword"
        id="repeatPassword"
        type="password"
        required
        formControlName="repeatPassword"
      />
      <mat-label for="repeatPassword">repeat password</mat-label>

      <mat-error
        *ngIf="registerForm.get('repeatPassword')?.errors?.['required']"
        >password required!</mat-error
      >

      <mat-error
        *ngIf="registerForm.get('repeatPassword')?.errors?.['minlength']"
        >password must be at least 8 chars!</mat-error
      >
    </mat-form-field>

    <mat-checkbox name="checkbox" labelPosition="before" (click)="check()">
      Register as artist?
    </mat-checkbox>

    <mat-form-field *ngIf="checked" appearance="outline" color="accent">
      <input
        matInput
        placeholder="Metallica"
        name="alias"
        id="alias"
        type="text"
        formControlName="alias"
      />
      <mat-label for="alias">alias</mat-label>

      <mat-error *ngIf="registerForm.get('alias')?.errors?.['minlength']"
        >alias must be at least 2 chars!</mat-error
      >
    </mat-form-field>

    <button
      mat-raised-button
      type="submit"
      color="accent"
      [disabled]="!registerForm.valid"
    >
      Details
    </button>
  </form>
</mat-card>
