<mat-card class="form">
  <form #form="ngForm" class="login-form" color="primary">
    <mat-card-title> Register </mat-card-title>

    <mat-form-field appearance="outline" color="accent">
      <input
        matInput
        placeholder="username@email.com"
        name="email"
        id="email"
        type="email"
        required
        ngModel
      />
      <mat-label for="email">e-mail</mat-label>
      <mat-error>no!</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" color="accent">
      <input
        matInput
        placeholder="*******"
        name="password"
        id="password"
        type="password"
        required
        ngModel
      />
      <mat-label for="password">password</mat-label>
    </mat-form-field>
    <mat-form-field appearance="outline" color="accent">
      <input
        matInput
        placeholder="*******"
        name="repeatPassword"
        id="repeatPassword"
        type="password"
        required
        ngModel
      />
      <mat-label for="repeatPassword">repeat password</mat-label>
    </mat-form-field>
    <button mat-raised-button color="accent">Details</button>
  </form>
</mat-card>
