/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url("./assets/images/pexels-daniel-absi-952670.jpg");
  object-fit: cover;
}

main {
  width: 100%;
  position: relative;
}

.tint {
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: multiply;
}

/* Chrome, Safari, Edge, Opera */
input[matinput]::-webkit-outer-spin-button,
input[matinput]::-webkit-inner-spin-button,
input[matinput]::-webkit-calendar-picker-indicator {
  display: none;
  background: none;
  margin: 0;
}

/* Firefox */
input[matinput][type="number"],
input[matinput][type="date"],
input[matinput][type="time"] {
  -moz-appearance: textfield;
}
