/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url("./assets/images/pexels-daniel-absi-952670.jpg");
  object-fit: cover;
}

.tint {
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: multiply;
}
