<div class="container">
  <mat-card role="region" *ngFor="let event of eventsList">
    <mat-card-title-group>
      <img src="{{ event.imageUrl }}" mat-card-avatar />

      <mat-card-title>
        {{ event.name }}
      </mat-card-title>

      <mat-card-subtitle>
        {{ event.date }} {{ event.time }} {{ event.location }}
      </mat-card-subtitle>
    </mat-card-title-group>

    <mat-card-content> </mat-card-content>

    <mat-card-footer>
      <!-- <mat-card-actions> -->
      <button (click)="onSelect(event)" mat-raised-button color="accent">
        Details
      </button>
      <!-- </mat-card-actions> -->
    </mat-card-footer>
  </mat-card>

  <app-event-details
    *ngIf="showDetails"
    [event]="selectedEvent"
    [show]="showDetails"
  >
  </app-event-details>
</div>
