.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
  padding: 20px 20px;
}

.artist-card {
  background-color: transparent;
  height: 14vh;
  background-color: rgba(66, 66, 66, 0.3);
  -webkit-transition: all 0.9s 0s ease;
  -moz-transition: all 0.9s 0s ease;
  -o-transition: all 0.9s 0s ease;
  transition: all 0.9s 0s ease;
}

.artist-card:hover {
  background-color: rgba(66, 66, 66, 0.6);
}

mat-card-content {
  height: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

mat-card-content button {
  position: absolute;
  bottom: 18px;
}

h2 {
  color: white;
  font-size: 2rem;
  margin-top: 2rem;
  text-align: center;
}
