<mat-card class="form">
  <mat-card-title> Create </mat-card-title>

  <form [formGroup]="createForm" class="create-form" (ngSubmit)="create()">
    <mat-form-field class="hi" appearance="outline" color="accent">
      <input
        matInput
        placeholder="Woodstock"
        name="name"
        id="name"
        type="text"
        formControlName="name"
        required
      />

      <mat-label for="name">name</mat-label>
      <mat-error *ngIf="createForm.get('name')?.errors?.['required']"
        >event name required!</mat-error
      >
      <mat-error *ngIf="createForm.get('name')?.errors?.['minlength']"
        >event name must be longer than 3 chars!</mat-error
      >
    </mat-form-field>

    <div class="info">
      <mat-form-field class="info-field" appearance="outline" color="accent">
        <input
          matInput
          readonly
          [matDatepicker]="picker"
          placeholder="20/12/2022"
          min="{{ currentDate | date : 'yyyy-MM-dd' }}"
          name="date"
          id="date"
          type="text"
          formControlName="date"
          required
        />
        <mat-label for="date">date</mat-label>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error>date is required!</mat-error>
      </mat-form-field>

      <mat-form-field class="info-field" appearance="outline" color="accent">
        <input
          matInput
          name="time"
          id="time"
          type="time"
          formControlName="time"
          required
        />
        <!-- <button matSuffix mat-icon-button aria-label="Clear">
      <mat-icon>close</mat-icon>
    </button> -->
        <mat-icon matSuffix>query_builder</mat-icon>

        <mat-label for="time">time</mat-label>
        <mat-error>time is required!</mat-error>
      </mat-form-field>

      <mat-form-field class="info-field" appearance="outline" color="accent">
        <input
          matInput
          placeholder="Stonehenge"
          name="location"
          id="location"
          type="text"
          formControlName="location"
          required
        />
        <mat-icon matSuffix>place</mat-icon>

        <mat-label for="location">location</mat-label>

        <mat-error *ngIf="createForm.get('location')?.errors?.['required']"
          >location name required!</mat-error
        >
        <mat-error *ngIf="createForm.get('location')?.errors?.['minlength']"
          >location name must be longer than 3 chars!</mat-error
        >
      </mat-form-field>

      <mat-form-field class="info-field" appearance="outline" color="accent">
        <input
          matInput
          placeholder="17"
          name="price"
          id="price"
          type="number"
          formControlName="price"
          required
        />

        <mat-icon matSuffix>euro</mat-icon>
        <mat-label for="price">price</mat-label>
        <mat-error>price is required!</mat-error>
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline" color="accent">
      <input
        matInput
        placeholder="https://www.behance.net/gallery/158161911/I-..."
        name="imageUrl"
        id="imageUrl"
        type="url"
        formControlName="imageUrl"
      />

      <mat-label for="imageUrl">link to image</mat-label>
      <mat-error *ngIf="createForm.get('imageUrl')?.errors?.['pattern']"
        >must be valid URL!</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline" color="accent">
      <textarea
        matInput
        placeholder="Ex. The event is called..."
        name="description"
        id="description"
        formControlName="description"
        rows="6"
      >
      </textarea>
      <mat-label>describe your event</mat-label>
      <mat-error *ngIf="createForm.get('description')?.errors?.['minlength']"
        >must be at least 20 chars!</mat-error
      >
    </mat-form-field>

    <button
      type="submit"
      mat-raised-button
      color="accent"
      [disabled]="!createForm.valid"
    >
      I'm done!
    </button>
  </form>
</mat-card>
