.artist-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card-actions {
  display: flex;
}

ul li {
  list-style: none;
  cursor: pointer;
  font-size: 1rem;
}

mat-card {
  width: 30rem;
  background-color: transparent;
  background-color: rgba(66, 66, 66, 0.3);
  -webkit-transition: all 0.9s 0s ease;
  -moz-transition: all 0.9s 0s ease;
  -o-transition: all 0.9s 0s ease;
  transition: all 0.9s 0s ease;
}
