<div class="artist-container">
  <mat-card *ngIf="artist">
    <img src="{{ artist.imageUrl }}" mat-card-image />

    <mat-card-title-group>
      <mat-card-title>
        {{ artist.alias }}
      </mat-card-title>

      <mat-card-subtitle>
        {{ artist.genre }}
      </mat-card-subtitle>
    </mat-card-title-group>

    <mat-card-content>
      {{ artist.bio }}
    </mat-card-content>

    <h2 *ngIf="eventsCreated.length">Catch them at:</h2>

    <ul *ngFor="let event of eventsCreated">
      <li (click)="onNavigate(event._id)">{{ event.name }}</li>
    </ul>

    <button
      mat-fab
      class="mat-elevation-z4 back"
      mat-raised-button
      color="primary"
      (click)="onBack()"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
  </mat-card>
</div>
