@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(modern.css);

html {
    font-size: 20px;
}
body {
    height: 100vh;
    background-color: darksalmon;
    font-family: 'Poppins', 'Helvetica', sans-serif;
}

header {
    position: sticky;
    top: 0;
    background-color: brown;
    color: white;
}

header #nav {
    height: 3rem;
    margin: 0 2rem;
}

header #nav ul {
    height: 100%;
    display: grid;
    grid-template-columns: 16rem repeat(4, 1fr);
}

header #nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

header #nav ul li a {
    font-size: 1.2rem;
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0;
}

header #nav ul li:hover a {
    font-size: 1.3rem;
}

header #nav ul .logo a {
    font-size: 1.8rem;
}

header #nav ul .logo:hover a {
    font-size: 1.9rem;
}
