<mat-card class="form">
  <mat-card-title> Login </mat-card-title>

  <form
    [formGroup]="loginForm"
    class="login-form"
    color="primary"
    (ngSubmit)="login()"
  >
    <mat-form-field appearance="outline" color="accent">
      <input
        matInput
        placeholder="username@email.com"
        name="email"
        id="email"
        type="email"
        formControlName="email"
        required
      />
      <mat-label for="email">e-mail</mat-label>
      <mat-error>e-mail required!</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" color="accent">
      <input
        matInput
        placeholder="*******"
        name="password"
        id="password"
        type="password"
        formControlName="password"
        required
      />
      <mat-label for="password">password</mat-label>
      <mat-error>password required!</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      type="submit"
      color="accent"
      [disabled]="!loginForm.valid"
    >
      Login
    </button>
  </form>
</mat-card>
