<mat-card class="form">
  <mat-card-title> Login </mat-card-title>

  <form
    #loginForm="ngForm"
    class="login-form"
    color="primary"
    (ngSubmit)="loginHandler(loginForm)"
  >
    <mat-form-field appearance="outline" color="accent">
      <input
        matInput
        placeholder="username@email.com"
        name="email"
        id="email"
        type="email"
        #emailInput="ngModel"
        required
        ngModel
      />
      <mat-label for="email">e-mail</mat-label>
      <mat-error>Ivalid e-mail!</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" color="accent">
      <input
        matInput
        placeholder="*******"
        name="password"
        id="password"
        type="password"
        #passwordInput="ngModel"
        required
        ngModel
      />
      <mat-label for="password">password</mat-label>
      <mat-error>no!</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent">Details</button>
  </form>
</mat-card>
