.form {
  width: 400px;
  margin: 50px auto;
  padding: 22px;
  background-color: rgba(66, 66, 66, 0.4);
}

.form .create-form {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.form .create-form textarea {
  resize: none;
  overflow: auto;
}

.info {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  column-gap: 14px;
}

.info .info-field {
  width: calc(100% - 14px);
}

.create-error {
  margin: 0 auto 1rem;
}
