<div class="event-container">
  <mat-card *ngIf="event">
    <img src="{{ event.imageUrl }}" mat-card-image />

    <mat-card-title-group>
      <mat-card-title>
        {{ event.name }}
      </mat-card-title>

      <mat-card-subtitle> {{ event.date }} {{ event.time }} </mat-card-subtitle>

      <mat-card-subtitle>
        {{ event.location }}
      </mat-card-subtitle>

      <mat-card-subtitle> &euro; {{ event.price }} </mat-card-subtitle>

      <mat-card-subtitle> </mat-card-subtitle>
    </mat-card-title-group>

    <mat-card-content>
      {{ event.description }}
    </mat-card-content>

    <mat-card-actions>
      <div *ngIf="isLoggedIn">
        <ng-container
          *ngTemplateOutlet="isOwner ? owner : guest"
        ></ng-container>
      </div>
    </mat-card-actions>

    <button
      mat-fab
      class="mat-elevation-z4 back"
      mat-raised-button
      color="primary"
      (click)="onBack()"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
  </mat-card>
</div>

<ng-template #owner>
  <button
    class="mat-elevation-z4"
    mat-raised-button
    color="accent"
    (click)="onEdit()"
  >
    Edit
  </button>

  <button
    class="mat-elevation-z4"
    mat-raised-button
    color="accent"
    (click)="onDelete()"
  >
    Delete
  </button>
</ng-template>

<ng-template #guest>
  <button
    *ngIf="!hasAttended"
    class="mat-elevation-z4"
    mat-raised-button
    color="accent"
    (click)="onAttend()"
  >
    Attend
  </button>
</ng-template>
